# Виртуальное окружение
.venv/


# PyCharm служебные файлы
.idea/

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# База данных
*.db
instance/

# Логи
*.log

# Файлы загруженных пользователями аватаров/изображений (если есть)
static/uploads/
